body{
    font-family:Arial, sans-serif;
    background-color: #f5f5f5;
    margin:0;
    padding: 0;
}
header{
    background-color: #3f51b5;
    color:white;
    padding: 15px;
    text-align: center;
}
.container{
    padding:20px;
    max-width: 800px;
    margin:0 auto;
}
.card{
    background: white;
    padding: 20px;
    border-radius: 8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
.mt-20{
    margin-top:20px;

}
form-group{
    margin-bottom: 15px;
    
}

.form-group label{
    display:block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input{
    width:100%;
    padding: 10px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing: border-box;
}

.buttons{
    display:flex;
    gap:10p;

}
.btn{
    padding: 10px 20px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color:white;
}

.btn-salvar{
    background-color: #ff4081;

}
.btn-cancelar{
    background-color: #9e9e9e;
    
}

.btn-editar{
    background-color: #2196f3;
}

.btn-deletar{
    background-color: #f44336;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }

th,td{
    border-radius: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th{
    background-color: #f2f2f2;  
}